In [53]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('mock.csv')

In [7]:
df.head(1)
# False = somebody booked the airbnb
# NAN = not available (wasn't up at the time)
# True = The listing was available and nobody booked it.
# location = (long,lat) (string)

,listingId,2020-07-28 08:00:00+00:00,2020-08-04 08:00:00+00:00,2020-08-11 08:00:00+00:00,2020-08-18 08:00:00+00:00,location,city,publicAddress,reviewsCount,name,bathrooms,beds,neighborhood,personCapacity,roomTypeCategory,starRating,avgRating
0,ObjectId(5f211e5531f6e162c9fd3dfc),NaN,False,True,True,"[-106.46109,31.7943]",El Paso,"El Paso, TX, United States",79,Manhattan Charm Bungalow,1.0,1.0,NaN,3,private_room,5.0,5.0

In [27]:
# end result:
# rows are locations 
# columns are nights and the four columns are the four nights
df2 = df[['publicAddress','2020-07-28 08:00:00+00:00','2020-08-04 08:00:00+00:00','2020-08-11 08:00:00+00:00','2020-08-18 08:00:00+00:00']]

In [46]:
type(df2['2020-07-28 08:00:00+00:00'][3])

bool

In [51]:
df2['2020-07-28 08:00:00+00:00'].value_counts()

True    4223
Name: 2020-07-28 08:00:00+00:00, dtype: int64

In [54]:
data= [False, True, np.nan]
test= pd.Series(data)

In [55]:
def modification(value):
    if value is True:
        return 0
    if value is False:
        return 1
    else:
        return 0

In [56]:
test.apply(modification)

0    1
1    0
2    0
dtype: int64

In [48]:
df2['2020-07-28 08:00:00+00:00'].apply(modification)

0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
       ..
9015    0
9016    0
9017    0
9018    0
9019    0
9020    0
9021    0
9022    0
9023    0
9024    0
9025    0
9026    0
9027    0
9028    0
9029    0
9030    0
9031    0
9032    0
9033    0
9034    0
9035    0
9036    0
9037    0
9038    0
9039    0
9040    0
9041    0
9042    0
9043    0
9044    0
Name: 2020-07-28 08:00:00+00:00, Length: 9045, dtype: int64

In [98]:
df2.groupby('publicAddress').sum()
# groupby

,2020-07-28 08:00:00+00:00,2020-08-04 08:00:00+00:00,2020-08-11 08:00:00+00:00,2020-08-18 08:00:00+00:00
publicAddress,,,,
"Orange Beach, AL, United States",2,0,2,2
"Bryson City, NC, United States",0,0,0,True
"Miramar Beach, FL, United States",True,0,0,0
"Santa Rosa Beach, FL, United States",True,0,True,True
"Terlingua, TX, United States",0,True,True,True
"1, WV, United States",True,True,True,True
"9, LA, United States",True,False,True,True
"Abbotsford, BC, Canada",2,1,2,1
"Abingdon, VA, United States",True,False,True,True
"Abiquiu, NM, United States",0,0,0,True
"Absarokee, MT, United States",True,True,True,True
"Accokeek, MD, United States",True,True,True,True
"Accord, NY, United States",0,True,True,True
"Acworth, GA, United States",True,True,True,True
"Addy, WA, United States",True,True,True,True
"Adolfo López Mateos, Baja California Sur, Mexico",True,True,True,True
"Aetna, AB, Canada",True,0,0,True
"Afton, OK, United States",0,0,1,2
"Agua Fría, Nuevo León, Mexico",True,True,True,True
"Aguanga, CA, United States",True,True,True,True
"Ahoskie, NC, United States",0,True,0,True
"Ahwahnee, CA, United States",0,0,1,1
"Aiken, SC, United States",1,1,1,2
"Ajax, ON, Canada",1,0,2,1
"Akron, OH, United States",0,0,0,True
"Alabama, AL, United States",True,True,True,True
"Alameda, CA, United States",2,2,2,1
"Alamo, CA, United States",0,0,0,True
"Albany, GA, United States",True,True,True,True
"Albany, NY, United States",0,2,3,4
...,...,...,...,...
"Wrightsville Beach, NC, United States",4,0,0,1
"Wytheville, VA, United States",True,0,0,0
"YOSEMITE NATIONAL PARK, CA, United States",0,0,0,True
"Yachats, OR, United States",True,0,0,0
"Yacolt, WA, United States",0,0,True,True
"Yakima, WA, United States",0,1,1,2
"Yakutat, AK, United States",True,True,0,0
"Yavapai County, AZ, United States",True,True,True,True
"Yellville, AR, United States",0,0,False,True
"Ymir, BC, Canada",0,0,True,True
"Yonkers, NY, United States",0,1,1,2
"Yorba Linda, CA, United States",0,False,True,True
"York, SC, United States",0,0,0,True
"Yosemite National Park, CA, United States",2,0,0,1
"Young Harris , GA, United States",True,True,True,True
"Young, AZ, United States",True,True,True,True
"Yuba City, CA, United States",0,True,True,True
"Yucca Valley, CA, United States",0,2,3,2
"Yukon, OK, United States",0,True,True,True
"Yulee, FL, United States",True,True,True,True
"Zanesfield, OH, United States",0,True,False,True
"Zanesville, OH, United States",0,True,True,True
"Zephyr Cove, NV, United States",0,0,0,False
"Zephyrhills, FL, United States",0,1,1,1
"broken bow, ok, United States",0,0,0,True
"flushing, NY, United States",0,True,True,True
"kissimmee, FL, United States",0,True,True,True
"pine mountain club, CA, United States",True,0,True,True
"walnut, CA, United States",0,False,True,True
"纽约市, NY, United States",0,False,False,False

In [64]:
# location = long, lat
# parse the string to get the lat
# get a lat column and a lon column
# if condition is met (return column)

a = df.location[0]

In [73]:
b = a.split(',')
long = float(b[0][1:])
lat = float(b[1][:-1])
print(lat,long)

31.7943 -106.46109

In [78]:
def lat(s):
    a = s.split(",")
    return float(a[1][:-1])
def long(s):
    a = s.split(",")
    return float(a[0][1:])

In [81]:
df['lattitude'] = df.location.apply(lat)

In [83]:
df['longitude'] = df.location.apply(long)

In [91]:
def square_selection(df,center_long,center_lat,square_size=4):
    diff = square_size/2
    condition = df['longitude'] > center_long - diff
    condition2 = df['longitude'] < center_long + diff
    condition3 = df['lattitude'] > center_lat - diff
    condition4 =  df['lattitude'] < center_lat + diff
    return df[condition]

In [96]:
condition = df['longitude'] < 0
df[condition]

,listingId,2020-07-28 08:00:00+00:00,2020-08-04 08:00:00+00:00,2020-08-11 08:00:00+00:00,2020-08-18 08:00:00+00:00,location,city,publicAddress,reviewsCount,name,bathrooms,beds,neighborhood,personCapacity,roomTypeCategory,starRating,avgRating,lattitude,longitude
0,ObjectId(5f211e5531f6e162c9fd3dfc),NaN,False,True,True,"[-106.46109,31.7943]",El Paso,"El Paso, TX, United States",79,Manhattan Charm Bungalow,1.0,1.0,NaN,3,private_room,5.0,5.00,31.79430,-106.46109
1,ObjectId(5f211a1431f6e162c9f680af),NaN,NaN,NaN,False,"[-79.84383,41.26865]",Kennerdell,"Kennerdell, PA, United States",105,Allegheny River Cottage **PET FRIENDLY**,1.0,2.0,NaN,4,entire_home,5.0,4.91,41.26865,-79.84383
2,ObjectId(5f211bdd31f6e162c9f9779c),NaN,True,True,True,"[-81.65988,28.3254]",Davenport,"Davenport, FL, United States",0,"2nd floor condo w/ balcony, sauna, basketball ...",2.0,5.0,NaN,8,entire_home,NaN,NaN,28.32540,-81.65988
3,ObjectId(5f2121ee31f6e162c9039ca0),True,True,True,True,"[-123.10398,49.2832]",Vancouver,"Vancouver, BC, Canada",81,Cozy apt in heart of Historic Gastown,1.0,1.0,Gastown,2,entire_home,5.0,4.79,49.28320,-123.10398
4,ObjectId(5f2122a331f6e162c90450a2),True,True,True,True,"[-158.12265,21.33975]",Kapolei,"Kapolei, HI, United States",0,Hawaii Dream,2.5,4.0,Leeward Side,7,entire_home,NaN,NaN,21.33975,-158.12265
5,ObjectId(5f21208b31f6e162c901086e),True,True,True,True,"[-81.49632,28.33706]",Kissimmee,"Kissimmee, FL, United States",24,*July Special* at Lucaya 3 Beds 2 Baths ID:59007,2.0,5.0,NaN,8,entire_home,4.5,4.46,28.33706,-81.49632
6,ObjectId(5f211d9431f6e162c9fc232c),NaN,NaN,NaN,True,"[-67.0568,45.08036]",St. Andrews,"St. Andrews, NB, Canada",2,"Jolly Whales! New, private and deep cleaned!",1.0,2.0,NaN,4,entire_home,NaN,NaN,45.08036,-67.05680
7,ObjectId(5f211e5431f6e162c9fd3ba2),True,NaN,NaN,NaN,"[-81.67466,28.30508]",Davenport,"Davenport, FL, United States",0,☆COZY 5BR Villa☆ Pool & Game Room @ HUGE Retre...,3.0,3.0,NaN,10,entire_home,NaN,NaN,28.30508,-81.67466
8,ObjectId(5f211d2b31f6e162c9fb8283),NaN,NaN,True,True,"[-80.07221,26.88504]",West Palm Beach,"West Palm Beach, FL, United States",5,Paradise Luxury Pool/Beach Home on the Water!,3.0,4.0,NaN,8,entire_home,5.0,5.00,26.88504,-80.07221
9,ObjectId(5f21214531f6e162c90259fc),NaN,True,True,True,"[-81.33966,28.28308]",Kissimmee,"Kissimmee, FL, United States",76,Florida Orlando Disney 9 Beds 3 Bath Private Pool,3.0,9.0,NaN,9,entire_home,4.5,4.53,28.28308,-81.33966
10,ObjectId(5f2120fb31f6e162c901d0ca),True,True,True,True,"[-115.11429,36.1383]",Las Vegas,"Las Vegas, NV, United States",4,GREAT Studio close to Strip with CAL-KING bed,1.0,1.0,NaN,2,entire_home,3.5,3.50,36.13830,-115.11429
11,ObjectId(5f211b8431f6e162c9f8ecb8),True,NaN,NaN,NaN,"[-86.84877,46.41192]",Au Train,"Au Train, MI, United States",17,Super Clean w/AuTrain Lake access! Family frie...,1.0,5.0,NaN,9,entire_home,5.0,4.82,46.41192,-86.84877
12,ObjectId(5f211ea231f6e162c9fdb330),True,True,True,True,"[-113.00331,37.01322]",Hildale,"Hildale, UT, United States",3,Zion Luxury Camping w/Bathrooms,4.0,1.0,NaN,2,entire_home,4.5,4.33,37.01322,-113.00331
13,ObjectId(5f2120d831f6e162c901932a),True,True,True,True,"[-81.51665,28.33174]",Kissimmee,"Kissimmee, FL, United States",2,Celebration Suites - 2 Miles from Disney - for 6,1.0,0.0,NaN,6,private_room,NaN,NaN,28.33174,-81.51665
14,ObjectId(5f21221131f6e162c903ded5),True,True,True,True,"[-79.40072,43.76916]",Toronto,"Toronto, ON, Canada",0,Cozy Master room close to North york center sub,1.0,1.0,Willowdale,1,private_room,NaN,NaN,43.76916,-79.40072
15,ObjectId(5f211dbd31f6e162c9fc59f6),True,True,True,True,"[-84.5114,33.87327]",Smyrna,"Smyrna, GA, United States",1,The urban treehouse,1.0,1.0,NaN,4,entire_home,NaN,NaN,33.87327,-84.51140
16,ObjectId(5f211d4d31f6e162c9fbb692),True,True,True,True,"[-118.27778,33.8262]",Carson,"Carson, CA, United States",12,"1 bedroom, 1 bath",1.5,1.0,Carson,1,private_room,5.0,4.75,33.82620,-118.27778
17,ObjectId(5f211c0631f6e162c9f9b0b3),True,True,True,True,"[-90.06857,29.9705]",New Orleans,"New Orleans, LA, United States",4,Victorian Luxury-Walk to French Quarter,2.0,2.0,Mid-City District,4,entire_home,5.0,5.00,29.97050,-90.06857
18,ObjectId(5f21214731f6e162c9025cae),NaN,True,True,True,"[-81.60165,28.23134]",Davenport,"Davenport, FL, United States",0,"Modern home w/ private pool, spa & clubhouse a...",5.5,6.0,NaN,12,entire_home,NaN,NaN,28.23134,-81.60165
19,ObjectId(5f2121fe31f6e162c903b93b),NaN,True,True,True,"[-111.94152,33.76174]",Cave Creek,"Cave Creek, AZ, United States",26,Private Cave Creek Guest House with Full Kitchen,1.0,1.0,NaN,2,entire_home,5.0,4.96,33.76174,-111.94152
20,ObjectId(5f211fee31f6e162c9fff68a),NaN,NaN,True,True,"[-79.46523,43.17139]",Lincoln,"Lincoln, ON, Canada",156,Beautiful 2 bedroom Apt in Niagara Wine Country,1.0,3.0,NaN,5,entire_home,5.0,4.90,43.17139,-79.46523
21,ObjectId(5f211f6631f6e162c9fef4d6),True,True,True,True,"[-123.13374,49.22138]",Vancouver,"Vancouver, BC, Canada",1,Large 7 BR house near downtown & airport方便,6.0,7.0,Oakridge,16,entire_home,NaN,NaN,49.22138,-123.13374
22,ObjectId(5f211ba531f6e162c9f922c2),NaN,True,True,True,"[-81.63266,28.34453]",Kissimmee,"Kissimmee, FL, United States",0,"DISNEY ESCAPE! 3 COMFY UNITS, POOL, PARKING!",3.0,6.0,NaN,12,private_room,NaN,NaN,28.34453,-81.63266
23,ObjectId(5f211a3e31f6e162c9f6c0a1),True,True,True,True,"[-80.08475,26.42225]",Boca Raton,"Boca Raton, FL, United States",2,Luxury Boca Raton Vacation Villa-Newly Renovated,3.5,5.0,NaN,8,entire_home,NaN,NaN,26.42225,-80.08475
24,ObjectId(5f21221331f6e162c903e113),NaN,NaN,True,True,"[-114.29779,34.49717]",Lake Havasu City,"Lake Havasu City, AZ, United States",7,Kiowa 3 Boat Deep Garage w/ pool and spa,2.0,4.0,NaN,8,entire_home,5.0,5.00,34.49717,-114.29779
25,ObjectId(5f211e3531f6e162c9fd0cff),True,NaN,NaN,True,"[-120.27107,38.29275]",Dorrington,"Dorrington, CA, United States",4,4 Bedroom w/Hot Tub Close to Bear Valley+BTV Rec,3.0,7.0,NaN,12,entire_home,5.0,4.75,38.29275,-120.27107
26,ObjectId(5f2122ad31f6e162c9045bd6),True,True,True,True,"[-159.46995,21.87849]",Koloa,"Koloa, HI, United States",22,WHALERS COVE 231 ON THE WATER IN SUNNY POIPU!,2.0,3.0,Kauaʻi,4,entire_home,4.5,4.68,21.87849,-159.46995
27,ObjectId(5f21217831f6e162c902bb45),True,NaN,NaN,NaN,"[-111.79302,33.37353]",Gilbert,"Gilbert, AZ, United States",58,Private & Clean - 2BR Gilbert Retreat with Pool,2.0,2.0,NaN,5,entire_home,4.5,4.52,33.37353,-111.79302
28,ObjectId(5f2121f231f6e162c903a45d),True,NaN,True,True,"[-81.26858,29.8578]",St. Augustine,"St. Augustine, FL, United States",2,Seaside at Anastasia 306,2.0,5.0,NaN,8,entire_home,NaN,NaN,29.85780,-81.26858
29,ObjectId(5f211f7b31f6e162c9ff1bd2),True,True,True,True,"[-87.58467,35.24431]",Westpoint,"Westpoint, TN, United States",2,Get away and relax at this quiet country retreat,1.0,1.0,NaN,2,private_room,NaN,NaN,35.24431,-87.58467
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9015,ObjectId(5f211b8831f6e162c9f8f31e),True,True,True,True,"[-95.46173,30.02262]",Houston,"Houston, TX, United States",0,Room for rent,3.5,1.0,NaN,1,private_room,NaN,NaN,30.02262,-95.46173
9016,ObjectId(5f211a4d31f6e162c9f6dc37),NaN,True,True,True,"[-106.74924,32.34152]",Las Cruces,"Las Cruces, NM, United States",35,Luxury in Las Cruces,1.0,1.0,NaN,2,private_room,5.0,5.00,32.34152,-106.74924
9017,ObjectId(5f21215e31f6e162c90289c1),NaN,NaN,NaN,True,"[-89.88942,38.46622]",Freeburg,"Freeburg, IL, United States",42,St. Louis Metro East Log Cabin,1.0,2.0,NaN,4,private_room,5.0,4.98,38.46622,-89.88942
9018,ObjectId(5f211ff831f6e162c9000760),True,NaN,True,True,"[-89.81647,43.6093]",Wisconsin Dells,"Wisconsin Dells, WI, United States",8,Ultimate Rustic Retreat @ Spring Brook Resort ...,4.0,10.0,NaN,17,entire_home,5.0,5.00,43.60930,-89.81647
9019,ObjectId(5f211e5e31f6e162c9fd4c42),True,NaN,NaN,True,"[-77.88712,34.0554]",Carolina Beach,"Carolina Beach, NC, United States",1,"Ruffian's Roost: Cozy Pet Friendly, Great Wate...",2.0,3.0,NaN,8,entire_home,NaN,NaN,34.05540,-77.88712
9020,ObjectId(5f211b0d31f6e162c9f82364),NaN,NaN,True,NaN,"[-98.49545,32.83342]",Strawn,"Strawn, TX, United States",3,Chic Lakefront Cabin w/ Dock & Bluff Creek Views!,1.0,7.0,NaN,12,entire_home,5.0,5.00,32.83342,-98.49545
9021,ObjectId(5f211c7c31f6e162c9fa6387),True,NaN,True,True,"[-121.10445,39.36919]",North San Juan,"North San Juan, CA, United States",12,Veracruz Room ~ Milano's Inn,1.0,1.0,NaN,2,private_room,5.0,4.92,39.36919,-121.10445
9022,ObjectId(5f211e3b31f6e162c9fd137e),True,True,True,True,"[-80.08646,26.2502]",Pompano Beach,"Pompano Beach, FL, United States",30,"As per County Order, 30 days and more rentals ...",3.5,7.0,NaN,10,entire_home,4.5,4.60,26.25020,-80.08646
9023,ObjectId(5f211b6531f6e162c9f8bac1),NaN,False,False,False,"[-106.03479,28.61848]",Chihuahua,"Chihuahua, Chihuahua, Mexico",35,Departamento seguro,1.0,2.0,NaN,2,private_room,4.5,4.49,28.61848,-106.03479
9024,ObjectId(5f2120cb31f6e162c9017c55),True,True,True,True,"[-73.55501,45.50144]",Montréal,"Montréal, Québec, Canada",35,-MAISON ALEXANDRA- 2 STOREY 3 BR OLD MONTREAL ...,2.5,3.0,Old Montreal,8,entire_home,4.5,4.51,45.50144,-73.55501
9025,ObjectId(5f211adb31f6e162c9f7ca4d),NaN,True,NaN,True,"[-85.97065,30.26021]",Panama City Beach,"Panama City Beach, FL, United States",9,Private Home. Steps to the Beach! Quiet West E...,3.0,9.0,NaN,14,entire_home,4.5,4.33,30.26021,-85.97065
9026,ObjectId(5f211dd131f6e162c9fc7684),NaN,False,True,True,"[-84.44373,33.67746]",East Point,"East Point, GA, United States",7,Modern Loft 10mins from ATL Airport-Sleeps 4,1.0,1.0,NaN,4,entire_home,3.5,3.29,33.67746,-84.44373
9027,ObjectId(5f211b9b31f6e162c9f91239),True,False,True,True,"[-73.95277,40.6902]",Brooklyn,"Brooklyn, NY, United States",26,Esther Home,1.0,4.0,Brooklyn,5,entire_home,4.5,4.32,40.69020,-73.95277
9028,ObjectId(5f21220331f6e162c903c44a),True,True,True,True,"[-74.02802,40.76393]",Weehawken,"Weehawken, NJ, United States",70,Location IS Everything NYC waiting 4U! Lux EnS...,1.0,1.0,NaN,2,entire_home,5.0,4.96,40.76393,-74.02802
9029,ObjectId(5f211a4931f6e162c9f6d52e),True,True,True,True,"[-84.41629,41.31969]",Defiance,"Defiance, OH, United States",0,Pool party; downstairs of Delano House,1.0,1.0,NaN,10,private_room,NaN,NaN,41.31969,-84.41629
9030,ObjectId(5f21222131f6e162c903fef6),True,True,True,True,"[-73.9691,40.76016]",New York,"New York, NY, United States",157,IDEAL One bedroom apt by Central Park!,1.0,1.0,Midtown,2,entire_home,4.5,4.67,40.76016,-73.96910
9031,ObjectId(5f2121a431f6e162c90311f5),True,True,True,True,"[-116.63408,31.69686]",Ensenada,"Ensenada, Baja California, Mexico",0,Baja Hacienda Cabin,2.0,3.0,NaN,10,entire_home,NaN,NaN,31.69686,-116.63408
9032,ObjectId(5f211f9e31f6e162c9ff5c90),NaN,NaN,True,True,"[-78.82986,33.74147]",Myrtle Beach,"Myrtle Beach, SC, United States",15,Cozy beach cottage .5 miles to Residential Beach.,1.0,4.0,NaN,6,entire_home,5.0,4.80,33.74147,-78.82986
9033,ObjectId(5f211bf731f6e162c9f99cb0),True,True,True,True,"[-122.41055,37.78567]",San Francisco,"San Francisco, CA, United States",2,Cozy Studio in the Heart of Downtown!,1.0,1.0,Tenderloin,2,entire_home,NaN,NaN,37.78567,-122.41055
9034,ObjectId(5f21220031f6e162c903bda3),NaN,True,True,True,"[-81.90388,26.41803]",Fort Myers Beach,"Fort Myers Beach, FL, United States",0,"Pointe Estero 601, 2 Bedrooms, Heated Pool, Te...",2.0,4.0,NaN,6,entire_home,NaN,NaN,26.41803,-81.90388
9035,ObjectId(5f211e6231f6e162c9fd55a4),True,True,True,True,"[-86.76579,36.20713]",Nashville,"Nashville, TN, United States",17,“Penthouse” rooftop + chic design+ meditation ...,2.5,5.0,NaN,10,entire_home,5.0,4.88,36.20713,-86.76579
9036,ObjectId(5f211f3b31f6e162c9fea80c),NaN,False,True,False,"[-96.93505,32.65334]",Duncanville,"Duncanville, TX, United States",119,Victorian ~ A Place tocall Home Dallas Suburb ...,1.0,1.0,Southwest Dallas,1,entire_home,5.0,5.00,32.65334,-96.93505
9037,ObjectId(5f211a4c31f6e162c9f6da86),NaN,True,True,True,"[-84.50081,38.04341]",Lexington,"Lexington, KY, United States",23,Black Bear Lodge,2.0,2.0,NaN,5,entire_home,5.0,4.91,38.04341,-84.50081
9038,ObjectId(5f21210c31f6e162c901f0e5),True,False,False,False,"[-83.69133,41.68993]",Toledo,"Toledo, OH, United States",109,"Oak Valley, Guest Room 1",1.0,1.0,NaN,2,private_room,5.0,4.92,41.68993,-83.69133
9039,ObjectId(5f21234c31f6e162c904a4a5),NaN,NaN,True,NaN,"[-151.45824,59.64677]",Homer,"Homer, AK, United States",40,"Bayside Chalet: Close to the Spit, and City Ce...",1.0,1.0,NaN,2,entire_home,5.0,4.85,59.64677,-151.45824
9040,ObjectId(5f211a8d31f6e162c9f74248),True,True,True,True,"[-95.71456,29.8568]",Katy,"Katy, TX, United States",0,Room in Katy for women only,1.0,1.0,NaN,1,private_room,NaN,NaN,29.85680,-95.71456
9041,ObjectId(5f211bc431f6e162c9f95314),NaN,NaN,True,True,"[-81.4967,28.22093]",Kissimmee,"Kissimmee, FL, United States",9,Home near Disney with Pool,3.0,7.0,NaN,8,entire_home,4.5,4.67,28.22093,-81.49670
9042,ObjectId(5f211e9a31f6e162c9fda7b7),NaN,NaN,False,NaN,"[-116.24971,33.63723]",La Quinta,"La Quinta, CA, United States",37,Villa Bella - designed by HGTV's Vintage Flip,3.5,6.0,NaN,10,entire_home,5.0,4.89,33.63723,-116.24971
9043,ObjectId(5f21218631f6e162c902d674),NaN,False,True,False,"[-113.06024,37.66811]",Cedar City,"Cedar City, UT, United States",74,Cozy Cedar Cottage!,1.0,3.0,NaN,6,entire_home,5.0,4.93,37.66811,-113.06024
9044,ObjectId(5f21208c31f6e162c9010908),True,True,True,True,"[-77.02937,38.93876]",Washington,"Washington, DC, United States",81,4 bedroom 2 & 1/2 bath- 3 blocks from the metro!,2.5,5.0,16th Street Heights,11,entire_home,4.5,4.60,38.93876,-77.02937

In [97]:
square_selection(df,-106,31)

,listingId,2020-07-28 08:00:00+00:00,2020-08-04 08:00:00+00:00,2020-08-11 08:00:00+00:00,2020-08-18 08:00:00+00:00,location,city,publicAddress,reviewsCount,name,bathrooms,beds,neighborhood,personCapacity,roomTypeCategory,starRating,avgRating,lattitude,longitude
0,ObjectId(5f211e5531f6e162c9fd3dfc),NaN,False,True,True,"[-106.46109,31.7943]",El Paso,"El Paso, TX, United States",79,Manhattan Charm Bungalow,1.0,1.0,NaN,3,private_room,5.0,5.00,31.79430,-106.46109
1,ObjectId(5f211a1431f6e162c9f680af),NaN,NaN,NaN,False,"[-79.84383,41.26865]",Kennerdell,"Kennerdell, PA, United States",105,Allegheny River Cottage **PET FRIENDLY**,1.0,2.0,NaN,4,entire_home,5.0,4.91,41.26865,-79.84383
2,ObjectId(5f211bdd31f6e162c9f9779c),NaN,True,True,True,"[-81.65988,28.3254]",Davenport,"Davenport, FL, United States",0,"2nd floor condo w/ balcony, sauna, basketball ...",2.0,5.0,NaN,8,entire_home,NaN,NaN,28.32540,-81.65988
5,ObjectId(5f21208b31f6e162c901086e),True,True,True,True,"[-81.49632,28.33706]",Kissimmee,"Kissimmee, FL, United States",24,*July Special* at Lucaya 3 Beds 2 Baths ID:59007,2.0,5.0,NaN,8,entire_home,4.5,4.46,28.33706,-81.49632
6,ObjectId(5f211d9431f6e162c9fc232c),NaN,NaN,NaN,True,"[-67.0568,45.08036]",St. Andrews,"St. Andrews, NB, Canada",2,"Jolly Whales! New, private and deep cleaned!",1.0,2.0,NaN,4,entire_home,NaN,NaN,45.08036,-67.05680
7,ObjectId(5f211e5431f6e162c9fd3ba2),True,NaN,NaN,NaN,"[-81.67466,28.30508]",Davenport,"Davenport, FL, United States",0,☆COZY 5BR Villa☆ Pool & Game Room @ HUGE Retre...,3.0,3.0,NaN,10,entire_home,NaN,NaN,28.30508,-81.67466
8,ObjectId(5f211d2b31f6e162c9fb8283),NaN,NaN,True,True,"[-80.07221,26.88504]",West Palm Beach,"West Palm Beach, FL, United States",5,Paradise Luxury Pool/Beach Home on the Water!,3.0,4.0,NaN,8,entire_home,5.0,5.00,26.88504,-80.07221
9,ObjectId(5f21214531f6e162c90259fc),NaN,True,True,True,"[-81.33966,28.28308]",Kissimmee,"Kissimmee, FL, United States",76,Florida Orlando Disney 9 Beds 3 Bath Private Pool,3.0,9.0,NaN,9,entire_home,4.5,4.53,28.28308,-81.33966
11,ObjectId(5f211b8431f6e162c9f8ecb8),True,NaN,NaN,NaN,"[-86.84877,46.41192]",Au Train,"Au Train, MI, United States",17,Super Clean w/AuTrain Lake access! Family frie...,1.0,5.0,NaN,9,entire_home,5.0,4.82,46.41192,-86.84877
13,ObjectId(5f2120d831f6e162c901932a),True,True,True,True,"[-81.51665,28.33174]",Kissimmee,"Kissimmee, FL, United States",2,Celebration Suites - 2 Miles from Disney - for 6,1.0,0.0,NaN,6,private_room,NaN,NaN,28.33174,-81.51665
14,ObjectId(5f21221131f6e162c903ded5),True,True,True,True,"[-79.40072,43.76916]",Toronto,"Toronto, ON, Canada",0,Cozy Master room close to North york center sub,1.0,1.0,Willowdale,1,private_room,NaN,NaN,43.76916,-79.40072
15,ObjectId(5f211dbd31f6e162c9fc59f6),True,True,True,True,"[-84.5114,33.87327]",Smyrna,"Smyrna, GA, United States",1,The urban treehouse,1.0,1.0,NaN,4,entire_home,NaN,NaN,33.87327,-84.51140
17,ObjectId(5f211c0631f6e162c9f9b0b3),True,True,True,True,"[-90.06857,29.9705]",New Orleans,"New Orleans, LA, United States",4,Victorian Luxury-Walk to French Quarter,2.0,2.0,Mid-City District,4,entire_home,5.0,5.00,29.97050,-90.06857
18,ObjectId(5f21214731f6e162c9025cae),NaN,True,True,True,"[-81.60165,28.23134]",Davenport,"Davenport, FL, United States",0,"Modern home w/ private pool, spa & clubhouse a...",5.5,6.0,NaN,12,entire_home,NaN,NaN,28.23134,-81.60165
20,ObjectId(5f211fee31f6e162c9fff68a),NaN,NaN,True,True,"[-79.46523,43.17139]",Lincoln,"Lincoln, ON, Canada",156,Beautiful 2 bedroom Apt in Niagara Wine Country,1.0,3.0,NaN,5,entire_home,5.0,4.90,43.17139,-79.46523
22,ObjectId(5f211ba531f6e162c9f922c2),NaN,True,True,True,"[-81.63266,28.34453]",Kissimmee,"Kissimmee, FL, United States",0,"DISNEY ESCAPE! 3 COMFY UNITS, POOL, PARKING!",3.0,6.0,NaN,12,private_room,NaN,NaN,28.34453,-81.63266
23,ObjectId(5f211a3e31f6e162c9f6c0a1),True,True,True,True,"[-80.08475,26.42225]",Boca Raton,"Boca Raton, FL, United States",2,Luxury Boca Raton Vacation Villa-Newly Renovated,3.5,5.0,NaN,8,entire_home,NaN,NaN,26.42225,-80.08475
28,ObjectId(5f2121f231f6e162c903a45d),True,NaN,True,True,"[-81.26858,29.8578]",St. Augustine,"St. Augustine, FL, United States",2,Seaside at Anastasia 306,2.0,5.0,NaN,8,entire_home,NaN,NaN,29.85780,-81.26858
29,ObjectId(5f211f7b31f6e162c9ff1bd2),True,True,True,True,"[-87.58467,35.24431]",Westpoint,"Westpoint, TN, United States",2,Get away and relax at this quiet country retreat,1.0,1.0,NaN,2,private_room,NaN,NaN,35.24431,-87.58467
30,ObjectId(5f211e6a31f6e162c9fd6220),NaN,NaN,False,NaN,"[-82.66962,27.77122]",St Petersburg,"St Petersburg, FL, United States",250,St Petersburg Garden Studio,1.0,1.0,NaN,3,entire_home,5.0,4.99,27.77122,-82.66962
31,ObjectId(5f211fcb31f6e162c9ffb23b),NaN,False,NaN,True,"[-81.06448,32.01009]",Savannah,"Savannah, GA, United States",4,Million Dollar View,1.0,1.0,NaN,2,private_room,5.0,5.00,32.01009,-81.06448
32,ObjectId(5f211fd031f6e162c9ffbb95),NaN,NaN,True,NaN,"[-82.96829,35.53079]",Lake Junaluska,"Lake Junaluska, NC, United States",17,Mountain/Lake Majesty at Horton's Holler,5.0,8.0,NaN,12,entire_home,5.0,4.94,35.53079,-82.96829
33,ObjectId(5f21206831f6e162c900ccc6),NaN,True,True,True,"[-82.71001,27.49435]",Holmes Beach,"Holmes Beach, FL, United States",3,"Stylish, cozy duplex with shared pool & easy b...",1.0,3.0,NaN,4,entire_home,4.5,4.67,27.49435,-82.71001
39,ObjectId(5f2120df31f6e162c9019f1a),NaN,False,False,False,"[-81.30958,42.99764]",London,"London, ON, Canada",38,Spendid Quiet Private Room/Den & Private Bathr...,1.0,1.0,NaN,2,private_room,5.0,4.89,42.99764,-81.30958
40,ObjectId(5f21213c31f6e162c90246d4),True,True,True,True,"[-81.95124,26.45092]",Fort Myers Beach,"Fort Myers Beach, FL, United States",0,Beachfront Lani Kai Island Resort - so much to...,1.0,3.0,NaN,4,private_room,NaN,NaN,26.45092,-81.95124
42,ObjectId(5f211a3731f6e162c9f6b3da),True,True,True,True,"[-104.69618,38.66891]",Fountain,"Fountain, CO, United States",31,"Space for your own tent, pad & bag",1.5,2.0,NaN,15,private_room,5.0,4.90,38.66891,-104.69618
44,ObjectId(5f21218431f6e162c902d3dd),True,True,True,True,"[-80.12086,25.83495]",Miami Beach,"Miami Beach, FL, United States",8,studio city bay view,1.0,2.0,NaN,5,entire_home,4.0,3.80,25.83495,-80.12086
45,ObjectId(5f211f0031f6e162c9fe3ac3),NaN,NaN,True,NaN,"[-105.13181,39.98145]",Louisville,"Louisville, CO, United States",4,⭐️Historic Main St Home: Just Minutes to Boulder,4.5,7.0,NaN,12,entire_home,5.0,5.00,39.98145,-105.13181
46,ObjectId(5f211fc131f6e162c9ffa10a),NaN,True,True,True,"[-90.07166,29.94168]",New Orleans,"New Orleans, LA, United States",83,Movie Industry Special Warehouse District Down...,1.0,1.0,Central Business District,3,entire_home,4.5,4.67,29.94168,-90.07166
47,ObjectId(5f211c9e31f6e162c9faa03c),NaN,NaN,NaN,True,"[-74.17466,40.75447]",Newark,"Newark, NJ, United States",35,Warm Queen Suite 20 mins to NYC/Ctl #3,1.0,0.0,NaN,3,private_room,4.5,4.29,40.75447,-74.17466
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9006,ObjectId(5f211df831f6e162c9fcae1f),True,True,True,True,"[-73.95988,40.7191]",New York,"New York, NY, United States",20,Cozy Guest room in the heart of Williamsburg,1.0,1.0,Williamsburg,1,private_room,4.5,4.68,40.71910,-73.95988
9008,ObjectId(5f21202c31f6e162c90063ea),NaN,True,True,True,"[-80.13982,25.77473]",Miami Beach,"Miami Beach, FL, United States",7,Sobe Female Shared Dorm !!,1.0,4.0,South Beach,2,shared_room,3.0,3.14,25.77473,-80.13982
9009,ObjectId(5f2120f231f6e162c901c3b3),True,NaN,NaN,NaN,"[-81.25657,44.9886]",Lion's Head,"Lion's Head, ON, Canada",20,"Lionheart B&B, Far East Room by Elevate Rooms",1.0,1.0,NaN,2,hotel_room,5.0,4.85,44.98860,-81.25657
9010,ObjectId(5f211fe231f6e162c9ffde24),True,NaN,True,True,"[-77.87828,40.79241]",State College,"State College, PA, United States",5,Penn State Family Home- Easy Walk to Stadium,3.0,5.0,NaN,10,entire_home,5.0,4.80,40.79241,-77.87828
9012,ObjectId(5f21216c31f6e162c902a3ca),NaN,NaN,True,True,"[-81.68153,28.32105]",Davenport,"Davenport, FL, United States",3,"Family Villa, S. Facing Pool & Spa",4.5,7.0,NaN,10,entire_home,5.0,5.00,28.32105,-81.68153
9013,ObjectId(5f211ebc31f6e162c9fdd856),True,True,True,True,"[-81.84326,26.33167]",Bonita Springs,"Bonita Springs, FL, United States",48,Starfish Retreat @ The Bonita Beach & Tennis Club,1.0,1.0,NaN,3,entire_home,5.0,4.81,26.33167,-81.84326
9015,ObjectId(5f211b8831f6e162c9f8f31e),True,True,True,True,"[-95.46173,30.02262]",Houston,"Houston, TX, United States",0,Room for rent,3.5,1.0,NaN,1,private_room,NaN,NaN,30.02262,-95.46173
9016,ObjectId(5f211a4d31f6e162c9f6dc37),NaN,True,True,True,"[-106.74924,32.34152]",Las Cruces,"Las Cruces, NM, United States",35,Luxury in Las Cruces,1.0,1.0,NaN,2,private_room,5.0,5.00,32.34152,-106.74924
9017,ObjectId(5f21215e31f6e162c90289c1),NaN,NaN,NaN,True,"[-89.88942,38.46622]",Freeburg,"Freeburg, IL, United States",42,St. Louis Metro East Log Cabin,1.0,2.0,NaN,4,private_room,5.0,4.98,38.46622,-89.88942
9018,ObjectId(5f211ff831f6e162c9000760),True,NaN,True,True,"[-89.81647,43.6093]",Wisconsin Dells,"Wisconsin Dells, WI, United States",8,Ultimate Rustic Retreat @ Spring Brook Resort ...,4.0,10.0,NaN,17,entire_home,5.0,5.00,43.60930,-89.81647
9019,ObjectId(5f211e5e31f6e162c9fd4c42),True,NaN,NaN,True,"[-77.88712,34.0554]",Carolina Beach,"Carolina Beach, NC, United States",1,"Ruffian's Roost: Cozy Pet Friendly, Great Wate...",2.0,3.0,NaN,8,entire_home,NaN,NaN,34.05540,-77.88712
9020,ObjectId(5f211b0d31f6e162c9f82364),NaN,NaN,True,NaN,"[-98.49545,32.83342]",Strawn,"Strawn, TX, United States",3,Chic Lakefront Cabin w/ Dock & Bluff Creek Views!,1.0,7.0,NaN,12,entire_home,5.0,5.00,32.83342,-98.49545
9022,ObjectId(5f211e3b31f6e162c9fd137e),True,True,True,True,"[-80.08646,26.2502]",Pompano Beach,"Pompano Beach, FL, United States",30,"As per County Order, 30 days and more rentals ...",3.5,7.0,NaN,10,entire_home,4.5,4.60,26.25020,-80.08646
9023,ObjectId(5f211b6531f6e162c9f8bac1),NaN,False,False,False,"[-106.03479,28.61848]",Chihuahua,"Chihuahua, Chihuahua, Mexico",35,Departamento seguro,1.0,2.0,NaN,2,private_room,4.5,4.49,28.61848,-106.03479
9024,ObjectId(5f2120cb31f6e162c9017c55),True,True,True,True,"[-73.55501,45.50144]",Montréal,"Montréal, Québec, Canada",35,-MAISON ALEXANDRA- 2 STOREY 3 BR OLD MONTREAL ...,2.5,3.0,Old Montreal,8,entire_home,4.5,4.51,45.50144,-73.55501
9025,ObjectId(5f211adb31f6e162c9f7ca4d),NaN,True,NaN,True,"[-85.97065,30.26021]",Panama City Beach,"Panama City Beach, FL, United States",9,Private Home. Steps to the Beach! Quiet West E...,3.0,9.0,NaN,14,entire_home,4.5,4.33,30.26021,-85.97065
9026,ObjectId(5f211dd131f6e162c9fc7684),NaN,False,True,True,"[-84.44373,33.67746]",East Point,"East Point, GA, United States",7,Modern Loft 10mins from ATL Airport-Sleeps 4,1.0,1.0,NaN,4,entire_home,3.5,3.29,33.67746,-84.44373
9027,ObjectId(5f211b9b31f6e162c9f91239),True,False,True,True,"[-73.95277,40.6902]",Brooklyn,"Brooklyn, NY, United States",26,Esther Home,1.0,4.0,Brooklyn,5,entire_home,4.5,4.32,40.69020,-73.95277
9028,ObjectId(5f21220331f6e162c903c44a),True,True,True,True,"[-74.02802,40.76393]",Weehawken,"Weehawken, NJ, United States",70,Location IS Everything NYC waiting 4U! Lux EnS...,1.0,1.0,NaN,2,entire_home,5.0,4.96,40.76393,-74.02802
9029,ObjectId(5f211a4931f6e162c9f6d52e),True,True,True,True,"[-84.41629,41.31969]",Defiance,"Defiance, OH, United States",0,Pool party; downstairs of Delano House,1.0,1.0,NaN,10,private_room,NaN,NaN,41.31969,-84.41629
9030,ObjectId(5f21222131f6e162c903fef6),True,True,True,True,"[-73.9691,40.76016]",New York,"New York, NY, United States",157,IDEAL One bedroom apt by Central Park!,1.0,1.0,Midtown,2,entire_home,4.5,4.67,40.76016,-73.96910
9032,ObjectId(5f211f9e31f6e162c9ff5c90),NaN,NaN,True,True,"[-78.82986,33.74147]",Myrtle Beach,"Myrtle Beach, SC, United States",15,Cozy beach cottage .5 miles to Residential Beach.,1.0,4.0,NaN,6,entire_home,5.0,4.80,33.74147,-78.82986
9034,ObjectId(5f21220031f6e162c903bda3),NaN,True,True,True,"[-81.90388,26.41803]",Fort Myers Beach,"Fort Myers Beach, FL, United States",0,"Pointe Estero 601, 2 Bedrooms, Heated Pool, Te...",2.0,4.0,NaN,6,entire_home,NaN,NaN,26.41803,-81.90388
9035,ObjectId(5f211e6231f6e162c9fd55a4),True,True,True,True,"[-86.76579,36.20713]",Nashville,"Nashville, TN, United States",17,“Penthouse” rooftop + chic design+ meditation ...,2.5,5.0,NaN,10,entire_home,5.0,4.88,36.20713,-86.76579
9036,ObjectId(5f211f3b31f6e162c9fea80c),NaN,False,True,False,"[-96.93505,32.65334]",Duncanville,"Duncanville, TX, United States",119,Victorian ~ A Place tocall Home Dallas Suburb ...,1.0,1.0,Southwest Dallas,1,entire_home,5.0,5.00,32.65334,-96.93505
9037,ObjectId(5f211a4c31f6e162c9f6da86),NaN,True,True,True,"[-84.50081,38.04341]",Lexington,"Lexington, KY, United States",23,Black Bear Lodge,2.0,2.0,NaN,5,entire_home,5.0,4.91,38.04341,-84.50081
9038,ObjectId(5f21210c31f6e162c901f0e5),True,False,False,False,"[-83.69133,41.68993]",Toledo,"Toledo, OH, United States",109,"Oak Valley, Guest Room 1",1.0,1.0,NaN,2,private_room,5.0,4.92,41.68993,-83.69133
9040,ObjectId(5f211a8d31f6e162c9f74248),True,True,True,True,"[-95.71456,29.8568]",Katy,"Katy, TX, United States",0,Room in Katy for women only,1.0,1.0,NaN,1,private_room,NaN,NaN,29.85680,-95.71456
9041,ObjectId(5f211bc431f6e162c9f95314),NaN,NaN,True,True,"[-81.4967,28.22093]",Kissimmee,"Kissimmee, FL, United States",9,Home near Disney with Pool,3.0,7.0,NaN,8,entire_home,4.5,4.67,28.22093,-81.49670
9044,ObjectId(5f21208c31f6e162c9010908),True,True,True,True,"[-77.02937,38.93876]",Washington,"Washington, DC, United States",81,4 bedroom 2 & 1/2 bath- 3 blocks from the metro!,2.5,5.0,16th Street Heights,11,entire_home,4.5,4.60,38.93876,-77.02937